Repository OpenSourcePolitics/decidim, pull requests merged in 2019-05, with the labels that each got.

#633 Restore Debates export form component manifest
  CHANGELOG.md
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/debate_serializer.rb
  decidim-debates/spec/services/decidim/debates/debate_serializer_spec.rb
  decidim-debates/spec/shared/export_debates_examples.rb
Labels: 0.16-stable, needs-review

#634 bump 0.16 stable #633
  CHANGELOG.md
  decidim-budgets/app/assets/stylesheets/decidim/budgets/budget/_budget-card.scss
  decidim-budgets/app/commands/decidim/budgets/checkout.rb
  decidim-budgets/app/events/decidim/budgets/checkout_order_event.rb
  decidim-budgets/app/helpers/decidim/budgets/projects_helper.rb
  decidim-budgets/app/models/decidim/budgets/order.rb
  decidim-budgets/app/views/decidim/budgets/projects/_budget_summary.html.erb
  decidim-budgets/app/views/decidim/budgets/projects/_order_progress.html.erb
  decidim-budgets/config/locales/ca.yml
  decidim-budgets/config/locales/de.yml
  decidim-budgets/config/locales/en.yml
  decidim-budgets/config/locales/es-PY.yml
  decidim-budgets/config/locales/es.yml
  decidim-budgets/config/locales/eu.yml
  decidim-budgets/config/locales/fi-pl.yml
  decidim-budgets/config/locales/fi.yml
  decidim-budgets/config/locales/fr.yml
  decidim-budgets/config/locales/gl.yml
  decidim-budgets/config/locales/hu.yml
  decidim-budgets/config/locales/it.yml
  decidim-budgets/config/locales/nl.yml
  decidim-budgets/config/locales/pl.yml
  decidim-budgets/config/locales/pt-BR.yml
  decidim-budgets/config/locales/pt.yml
  decidim-budgets/config/locales/ru.yml
  decidim-budgets/config/locales/sv.yml
  decidim-budgets/config/locales/uk.yml
  decidim-budgets/spec/commands/checkout_spec.rb
  decidim-budgets/spec/events/decidim/budgets/checkout_order_event_spec.rb
  decidim-budgets/spec/shared/order_examples.rb
  decidim-budgets/spec/shared/orders_examples.rb
  decidim-core/app/assets/stylesheets/decidim/modules/_buttons.scss
  decidim-debates/lib/decidim/debates/component.rb
  decidim-debates/lib/decidim/debates/debate_serializer.rb
  decidim-debates/spec/services/decidim/debates/debate_serializer_spec.rb
  decidim-debates/spec/shared/export_debates_examples.rb
  package-lock.json
Labels: 0.16-stable, Blocking Bug, needs-review

#638 Add new traduction for assemblies help filter
  decidim-assemblies/config/locales/fr.yml
Labels: needs-review
